<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "UA-145358157-1")
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Hatched</title>
    <meta
      name="description"
      content="Notes and resources for **the elioWay** project."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css" />
  </head>

  <body>
    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png" />
        <b>Way</b>
      </a>

      <a href="#backstory-optional"> Backstory (optional)</a>

      <a href="#state-of-non-elation"> State of non-elation</a>

      <hr />

      <nav></nav>
    </nav>

    <h1 id="hatched">Hatched</h1>
    <p>
      <strong>elioWay</strong> was hatched on <code>2018-02-18</code>.
      That&#39;s just a fact. What follows is a true story. Some elements of the
      story have been exaggerated to little effect.
    </p>
    <p>
      I&#39;m Tim Bushell, leader in the <strong>elioWay</strong>. I&#39;ve been
      working on this project, between paying gigs, for 5 years.
    </p>
    <blockquote>
      <p>
        &quot;Everyone has this backstory!&quot; &quot;That&#39;s why you should
        tell it&quot; <strong>Tim Bushell</strong>
      </p>
    </blockquote>
    <h2 id="backstory-optional">Backstory (optional)</h2>
    <p>
      I started creating &quot;database driven web sites&quot; at the turn of
      the century. And I was late... ish.
    </p>
    <p>
      I bought an
      <a href="https://en.wikipedia.org/wiki/Amstrad_CPC#CPC6128"
        >Amstrad 6128</a
      >
      in 1983. I was 16. From then computers were central to my whole life - but
      it wasn&#39;t until ten years later that I started to code.
    </p>
    <p>
      So if you were one of me, starting to code &quot;database driven web
      sites&quot; in the 1990s, first you had find and install a special
      &quot;data adapter&quot; in your programming lanaguage (my first was
      classic ASP with VBScript) and for your database (my first was Access).
      There were websites (before Stack) with lists of correctly formatted
      &quot;connection stings&quot; between Java, python, .NET and all the DBA.
    </p>
    <p>
      Then you&#39;d write a &quot;data layer&quot; to handle all the data calls
      and executions, between the server side script (tasked with generating the
      HTML) and the DB.
    </p>
    <p>
      Often you&#39;d take your version of that data layer with you between
      projects, but you&#39;d still have to write all the custom SQL queries for
      the new project each time.
    </p>
    <p>
      This is an old old problem we solve from scratch for each project. Easy
      but tiresome.
    </p>
    <p>
      In ASP.NET, at ModuleSolutions in 2004, I conceive and helped build a
      &quot;data layer code generator&quot;. That came with me to CourseMonster
      in 2007 - and I used it until 2013.
    </p>
    <p>
      So I&#39;ve been doing this stuff a lot, in one way or another, for a long
      time - but less time than some. And frankly... this occupation is in a bit
      of mess.
    </p>
    <h2 id="state-of-non-elation">State of non-elation</h2>
    <figure>
      <img
        src="/artwork/south-park-s11e09c02-its-otherworldly-16x9.jpg"
        alt="south park more crap otherworldly"
      />
    </figure>

    <p>
      A lot has changed since the early days. Web frameworks now feature a lot
      of boilerplate stuff out of the box. I moved onto libraries like Django
      and Ember. Much easier. Write the names of your data tables; a list of
      fields; their datatypes; describe the relationships and... done. Then...
    </p>
    <pre><code>{% for peeps in mydata.people %}
  &lt;!--
    write out an amazing contact list
    with all the data right where you
    need it for hardly any effort.
  --&gt;
  ...
</code></pre>
    <p>
      ...in a script - that simple line - you&#39;ll have what it took an entire
      module of code to do in the olden days. Nice. I&#39;m going to keep using
      tools like that, the <strong>elioWay</strong>.
    </p>
    <p>But there is a flip side: Much is the same as before.</p>
    <p>Some examples:</p>
    <ul>
      <li>The page where you write the line</li>
    </ul>
    <pre><code>{% for peeps in mydata.people %}
  &lt;!--
    write out an amazing contact list
    with all the data right where you
    need it for hardly any effort.
  --&gt;
  ...
</code></pre>
    <p>
      ... still has to be written. It&#39;s a crappy, tedious chore. &quot;But
      it <em>does</em> have to be written!&quot;, you declare. Correct. Every
      time. Why can&#39;t we change that?
    </p>
    <ul>
      <li>
        A <code>form</code> to write. And where you have to catch the click
        event of the form or the change event of an input... like every time:
      </li>
    </ul>
    <pre><code>onSubmit(theform=&gt;crudify(theform))
</code></pre>
    <p>And where you probably write:</p>
    <pre><code>&lt;form class=&quot;form&quot;&gt;
&lt;table class=&quot;table&quot;&gt;
&lt;menu class=&quot;menu&quot;&gt;
</code></pre>
    <p>(if you&#39;re using Bootstrap). I kid you not. Not this time.</p>
    <ul>
      <li>
        <p>
          The tedious selection process of checking out CSS frameworks until you
          settle for Bootstrap again simply because you have that file of common
          CSS utility class names special you that take with you between
          projects.
        </p>
      </li>
      <li>
        <p>
          Okay...Tailwind. Starting again with another framework... that&#39;s
          almost become the job.
        </p>
      </li>
      <li><p>Wiring up the API.</p></li>
      <li><p>The data design.</p></li>
    </ul>
    <p>
      Do we say <code>firstName</code> or <code>first_name</code> or
      <code>forename</code>? Is it <code>surname</code> or
      <code>lastName</code>. Surely it&#39;s <code>lastName</code> if you have
      <code>firstName</code>. Where do we put <code>middleNames</code>? What
      about the Pacific nation of Microfarfromus? Their people don&#39;t even
      have first names!
    </p>
    <p>&quot;Hmmm... That&#39;s hardly complicated, Tim&quot;, you say.</p>
    <p>Right. But do you enjoy doing it?</p>
    <p>
      That&#39;s just deciding on the field names of people - just wait until
      you&#39;re writing an app for a &quot;molecule engineering startup&quot;
      or some weird edge case exports company - which requires modeling
      complicated, mysterious objects.
    </p>
    <blockquote>
      <p>
        <strong>crud</strong> noun<br />
        A coating or an incrustation of filth or refuse. Something loathsome,
        despicable, or worthless. One who is contemptible or disgusting.
      </p>
    </blockquote>
    <ul>
      <li>And the forms!</li>
    </ul>
    <p><strong>OMG</strong>, the forms.</p>
    <p><strong>OYG</strong>, the forms!</p>
    <p>All the gods, WTF!</p>
    <p>
      Laying them out. Adding the &quot;onSubmit&quot; handler. Tackling the
      validation. It&#39;s just <strong>CRUD</strong>. The acronym isn&#39;t
      called <strong>CRUD</strong> for nothing. At the
      <strong>elioWay</strong> we call them all TURDs (takeup update read
      destroy). Neither are good acronyms. Sure: There is <code>create</code>,
      <code>read</code>, <code>update</code> and <code>delete</code> - but there
      is also &quot;create with relationship to this&quot;, which is, for sure,
      just a special type of create (<code>create-create</code> or
      <code>create-update</code>) but special enough an operation you write so
      often you probably have a special function for it!
    </p>
    <hr />
    <p>
      I want the <strong>elioWay</strong> to take us over the line and stop that
      all this <strong>CRAP</strong> (create read alter purge).
    </p>
    <p>
      I love my job creating web applications - still - after 20 years: love the
      opportunity of putting the power of computing to trivial use for people
      daily with an unparrelled immediacy. For a olde gentlemen programmer like
      me, whose first Microsoft installation came on 10 or more floppy disks -
      and you had to sit there and feed the computer (like giving treats to dog)
      - the age of streaming is still a wonder.
    </p>
    <p>
      But I don&#39;t want to write another form. I don&#39;t want to have to
      write &quot;form.onSubmit&quot; again. I don&#39;t want to have to say
    </p>
    <pre><code>peep = new Model(
  &quot;Person&quot;,
  {
    &quot;lastName&quot;: &quot;string&quot;,
    &quot;foreName&quot;: string,
    &quot;dateOfBirth&quot;: &quot;date&quot;
  }
)
</code></pre>
    <p>
      again. Can you imagine! Having to explain to a computer what a
      <code>Person</code> is?! These are our future rulers and they don&#39;t
      know what <code>Person</code> is yet?!
    </p>
    <p>In 2022 we should not still need to write this:</p>
    <pre><code>&lt;div class=&quot;container&quot;&gt;
  &lt;div=&quot;container-shell&quot;&gt;
    &lt;div=&quot;container-cushion&quot;&gt;
      &lt;div=&quot;centered green interesting&quot;&gt;
        &lt;p=&quot;but also nochalent&quot;&gt;
          &lt;span=&quot;shoot-me-now&quot;&gt;
            { pageSubHeading }
          &lt;/span&gt;
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
    <p>
      In 1981 (or whatever) I watched Blake ask a glass box to &quot;plot a safe
      course to the Andromeda system&quot;. So why, in 2023, does the computer
      need my description of an <code>Address</code>, or for me to add a
      <code>deliveryDate</code> field to a Delivery object and explain how it
      needs to be a <code>Date</code> type?
    </p>
    <p>In 2023, <em>I</em>, can&#39;t just say this:</p>
    <pre><code>person = new Model(&quot;Person&quot;)
</code></pre>
    <p>
      ...but in 1981 it can plot a course across the Milky Way avoiding asteroid
      fields and rogue gravity wells?!!!... fictionally of course... but...
      really??!!! And is there a pitch restriction to my outraged inner voice -
      because if there is... I haven&#39;t reached it yet!!!!!!
    </p>
    <p>Or...</p>
    <p>We could do it the <strong>elioWay</strong>.</p>
    <p>
      Put better still: <em>I&#39;m</em> going to do it the
      <strong>elioWay</strong>. It will be worth it just for me.
    </p>
    <figure>
      <img
        src="/artwork/south-park-s11e09-more-crap_16x9.jpg"
        alt="south-park more crap squeezing one out"
      />
    </figure>

    <p>
      The <strong>CRUD</strong>.vAll the TURDs... I/We&#39;re going to do them
      one. last. time. Squeeze out a bunch of world record, Randy Marsh sized
      CRAPs. Do them well. Take that with us between projects, like those 200
      lines of code in that data layer I wrote in VBScript waaaaaaay back in
      1998 (or whatever). The data layer. The modelling. The HTML. The forms.
      The lot... 95% of it taken care of by the <strong>elioWay</strong>.
    </p>
    <p>Let&#39;s aim to have this... at least, this:</p>
    <pre><code class="language-javascript">import { elioApp, ElioThing } from &quot;theElioWay&quot;
import thing from &quot;./thing.json&quot;
import bones from &quot;./bones.js&quot;
import flesh from &quot;./flesh.json&quot;

let PromotionsThing = ElioThing(&quot;Event&quot;, { list: [&quot;Product&quot;, &quot;Place&quot;] })
let BusinessThing = ElioThing(&quot;Business&quot;, {
  list: [&quot;Person&quot;, &quot;Product&quot;, PromotionsThing],
})

let app = elioApp(BusinessThing, thing, bones, flesh)
app.run(&quot;localhost&quot;, 5000)
</code></pre>
    <p>
      Combined (maybe) with an app another developer has written called
      <code>AdventCalendar</code>...
    </p>
    <pre><code class="language-javascript">import { elioApp, ElioThing } from &quot;theElioWay&quot;
import thing from &quot;./thing.json&quot;
import flesh from &quot;./flesh.json&quot;
import { AdventCalendar, bones } from &quot;@eliofaithful/thisCouldBeYou&quot;
AdventCalendar(thing, bones, flesh).run(&quot;localhost&quot;, 5000)
</code></pre>
    <p>
      Which is really not intended to be pseudo code but an example of something
      which might be the whole app - made up by stacking lots of little apps
      with simple, data transforming endpoint you can predict... and if you help
      me write it we really could spin up working, targetted microapps with just
      a few lines of code and <code>imports</code>. Anyone could.
    </p>
    <p>
      I want to spend less time writing CRUD and more time writing compelling
      and time saving features in simple micro applications for simple jobs
      without breaking the banks of small businesses, startups, hobbyists,
      charities and NGOs.
    </p>
    <p>I&#39;d love it if you help.</p>

    <footer>
      <a href="https://gitlab.com/elioway">GitLab</a> |
      <a href="contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-Way-logo.png" />
      <label>&copy; 2023 Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
